<h2>Edit</h2>
<form action='/records' method='POST'>
  <div class=''>
    <label for=''>
      name
      <input type='text' name='name' value='{{record.name}}' required />
    </label>
  </div>
  <div>
    <label for=''>
      Date
      <input type='date' name='date' value='{{record.date}}' required />
    </label>
  </div>
  <div>
    <label for=''>
      amount
      <input
        type='number'
        min='1'
        name='amount'
        value='{{record.amount}}'
        required
      />
    </label>
  </div>
  <div>
    <label for=''>
      category
      <select name='category' required>

        <option
          value='{{record.categoryId._id}}'
          selected
        >{{record.categoryId.name}}</option>
        {{#each categories}}
          <option value='{{this._id}}'>{{this.name}}</option>
        {{/each}}
      </select>
    </label>
  </div>
  <div>
    <button type='submit'>送出</button>
    <a href='/'>Back</a>
  </div>
</form>