<form
  action='/records/{{record._id}}?_method=PUT'
  method='POST'
  class='mt-5 d-flex flex-column align-items-center'
>
  <div class='d-flex justify-content-between mb-3'>
    <span class=''>*必填欄位</span>
    <h4 class='ms-4'>請修改你的支出</h4>
  </div>

  <div class='container' style='max-width: 450px'>
    <div class='row mb-3'>
      <label for='name' class='col-2 col-form-label'>名稱*:</label>
      <input
        type='text'
        class='col-10'
        name='name'
        id='name'
        value='{{record.name}}'
        required
      />
    </div>
    <div class='row mb-3'>
      <label for='date' class='col-2 col-form-label'>日期*:</label>
      <input
        type='date'
        class='col-10'
        name='date'
        id='date'
        value='{{record.date}}'
        required
      />
    </div>
    <div class='row mb-3'>
      <label for='category' class='col-2 col-form-label'>類別*:</label>
      <select name='category' id='category' class='col-10' required>
        <option
          value='{{record.categoryId._id}}'
          selected
        >{{record.categoryId.name}}</option>
        {{#each categories}}
          <option value='{{this._id}}'>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class='row mb-3'>
      <label for='amount' class='col-2 col-form-label'>金額*:</label>
      <input
        type='number'
        class='col-10'
        name='amount'
        id='amount'
        value='{{record.amount}}'
        required
      />
    </div>
    <div class='d-flex justify-content-center mt-4'>
      <button type='submit' class='btn btn-primary btn-block ms-5'>送出</button>
    </div>

  </div>

</form>