<form action='/'>
  <select name='category' id='category' onchange='form.submit()'>
    <option selected>{{categorySelectName}}</option>
    {{#each categories}}
      <option value='{{this._id}}'>{{this.name}}</option>
    {{/each}}
  </select>
</form>
<h2>總金額：{{totalAmount}}</h2>
<ul>
  {{#each records}}
    <li>
      <h2>{{this.categoryId.name}}
        {{this.name}}
        {{this.date}}
        {{this.amount}}元</h2>
      <a href='/records/{{this._id}}/edit'>Edit</a>
      <form
        action='./records/{{this._id}}?_method=DELETE'
        method='POST'
        style='display: inline;'
      >
        <button type='submit'>Delete</button>
      </form>
    </li>
  {{/each}}
</ul>